--- drivers/net/wireless/broadcom/brcm80211/Kconfig
+++ drivers/net/wireless/broadcom/brcm80211/Kconfig
@@ -1,6 +1,6 @@
 # SPDX-License-Identifier: GPL-2.0-only
 config BRCMUTIL
-	tristate "Broadcom 802.11 driver utility functions"
+	tristate
 	depends on m
 
 config BRCMSMAC
